/**
 * Coy without shadows
 * Based on Tim Shedor's Coy theme for prism.js
 * Author: RunDevelopment
 */

code[class*='language-'],
pre[class*='language-'] {
  /* color: black; */
  @apply text-gray-700;
  background: none;
  font-family: 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.35;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  position: relative;
  /* border-left: 2px dashed #1994b8; */
  @apply shadow;
  background-color: #fdfdfd;
  margin: 0.5em 0;
  padding: 0.5em 1em;
}

pre[class*='language-'] > code {
  display: block;
  overflow-x: auto;
  padding-bottom: 10px;
}

pre[class*='language-'] > code::-webkit-scrollbar {
  height: 5px;
}

pre[class*='language-'] > code::-webkit-scrollbar-track {
  @apply bg-transparent;
}

pre[class*='language-'] > code::-webkit-scrollbar-thumb {
  @apply bg-gray-200; /* color of the scroll thumb */
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  position: relative;
  padding: 0.2em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7d8b99;
}

.token.punctuation {
  color: #5f6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1a6ad3;
}

.token.regex,
.token.important {
  color: #e90;
}

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.7;
}
