---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Stats from '../components/Stats.astro'
import i18next, { t, changeLanguage } from 'i18next'

changeLanguage('en')
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="flow-root">
        <div class="float-left hidden md:block">
          <pre
            class="my-0 py-0 text-green-700">Preparing for the 2023/24 job market! 😄</pre>
        </div>
        <div
          class="float-right rounded-full shadow-md shadow-neutral-600 mr-10"
        >
          <img class="rounded-full h-auto max-w-[120px]" src="/adriangao.jpg" />
        </div>
      </div>
      <h2
        class="text-lg font-bold mb-6 underline underline-offset-8 decoration-4 decoration-orange-900"
      >
        {t('home.bio')}
      </h2>
      <p>
        Mingze Gao, aka <a style="color: #000;" href="https://adrian-gao.com">
          Adrian</a
        >, is a <span class="text-orange-900 font-bold"
          >Postdoctoral Research Fellow</span
        > at the University of Sydney Business School. With a focus on banking and
        corporate finance, his work has been published at the <span
          class="italic"
        >
          Journal of Banking & Finance</span
        >, <span class="italic">Finance Research Letters</span>, and/or
        presented at WFA, EFA (scheduled), FMA, FIRN, AFBC, etc.
      </p>
      <p>
        Mingze has a strong background in programming and received First Prize
        in the 2010 National Olympiad in Informatics in Provinces (NOIP). His
        PhD thesis involves large-scale textual analysis and novel machine
        learning application, leading to a <a
          href="http://purl.org/au-research/grants/arc/DP210102611"
          >$500,000 grant</a
        >
        from the Australian Research Council (ARC) Discovery Project financing his
        postdoctoral fellowship. He also has a Grad.Cert. in computing from UNSW
        with High Distinction, on, e.g., database, crypto and distributed ledger
        technology. Some of his open-source works include, for example, <a
          href="https://frds.io">frds</a
        >, <a href="https://github.com/mgao6767/specurve">specurve</a>, <a
          href="https://github.com/mgao6767/mktstructure">mktstructure</a
        > and
        <a href="https://github.com/mgao6767/edgar-analyzer">edgar-analyzer</a>.
      </p>
      <div class="hidden lg:block">
        <h2
          class="text-lg font-bold mb-6 underline underline-offset-8 decoration-4 decoration-orange-900"
        >
          {t('home.edu')}
        </h2>
        <table class="table-auto shadow-none text-base">
          <tbody>
            <tr>
              <td>2017 - 2021</td>
              <td><strong>Ph.D.</strong> in Finance</td>
              <td>University of Sydney</td>
            </tr>
            <tr>
              <td>2022 - 2023</td>
              <td><strong>Graduate Certificate</strong> in Computing</td>
              <td>University of New South Wales</td>
            </tr>
            <tr>
              <td>2016 - 2016</td>
              <td><strong>B.Com (Honours)</strong> in Finance</td>
              <td>University of Sydney</td>
            </tr>
            <tr>
              <td>2013 - 2015</td>
              <td><strong>B.Com</strong> in Econometrics and Finance</td>
              <td>University of Sydney</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2
        class="mt-8 text-lg font-bold mb-6 underline underline-offset-8 decoration-4 decoration-orange-900"
      >
        Contact.
      </h2>
      <ul class="list-disc px-4">
        <li>
          Email: <a href="mailto:mingze.gao@sydney.edu.au"
            >mingze.gao@sydney.edu.au</a
          >
        </li>
        <li>Office: Room 431, H69</li>
      </ul>
    </main>
    <h2
      class="mt-8 text-lg font-bold mb-1 underline underline-offset-8 decoration-4 decoration-orange-900"
    >
      Stats.
    </h2>
    <Stats />
    <Footer />
  </body>
</html>
