---
const today = new Date()
---

<footer>
  &copy; {today.getFullYear()}
  <a href="/" class="text-[#444]">Mingze Gao</a>. All rights reserved.
</footer>
<style>
  footer {
    @apply text-sm;
    padding: 25px;
    text-align: center;
  }
</style>
<script is:inline>
  console.log(`
███╗   ███╗██╗███╗   ██╗ ██████╗ ███████╗███████╗     ██████╗  █████╗  ██████╗ 
████╗ ████║██║████╗  ██║██╔════╝ ╚══███╔╝██╔════╝    ██╔════╝ ██╔══██╗██╔═══██╗
██╔████╔██║██║██╔██╗ ██║██║  ███╗  ███╔╝ █████╗      ██║  ███╗███████║██║   ██║
██║╚██╔╝██║██║██║╚██╗██║██║   ██║ ███╔╝  ██╔══╝      ██║   ██║██╔══██║██║   ██║
██║ ╚═╝ ██║██║██║ ╚████║╚██████╔╝███████╗███████╗    ╚██████╔╝██║  ██║╚██████╔╝
╚═╝     ╚═╝╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝╚══════╝     ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ 
`)
  console.log('Welcome to my site :)')
</script>
