---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../config'
import { LanguageSelector } from 'astro-i18next/components'
import { TranslationOutlined } from '@ant-design/icons'

const currentPath = Astro.url.pathname
const isHomePage =
  currentPath === '/' || currentPath === '/zh' || currentPath === '/zh/'

const { hasTranslation } = Astro.props
---

<header>
  <h1 class="font-bold text-lg">
    {SITE_TITLE}
  </h1>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/cv">CV</HeaderLink>
    <HeaderLink href="/research">Research</HeaderLink>
    <HeaderLink href="/posts">Blog</HeaderLink>
    <HeaderLink href="/apps">Apps</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://frds.io" class="hidden md:inline">
      <code>frds</code>
    </HeaderLink>
    <!-- <HeaderLink href="https://github.com/mgao6767" target="_blank"
      >GitHub</HeaderLink
    > -->
    <!-- {
      (isHomePage || hasTranslation) && (
        <>
          <i style="display: inline-block;">
            <TranslationOutlined />
          </i>
          <LanguageSelector showFlag={false} class="language-selector" />
        </>
      )
    } -->
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h1 {
    margin: 0.5em 0;
  }
</style>
